In [1]:
import numpy as no
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

C:\Users\Alumno\AppData\Local\Temp\ipykernel_4396\2745513628.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

WARNING:tensorflow:From c:\Users\Alumno\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
data = pd.read_csv('Hipertension_Arterial_Mexico.csv')

In [3]:
data

,FOLIO_I,sexo,edad,concentracion_hemoglobina,temperatura_ambiente,valor_acido_urico,valor_albumina,valor_colesterol_hdl,valor_colesterol_ldl,valor_colesterol_total,...,segundamedicion_peso,segundamedicion_estatura,distancia_rodilla_talon,circunferencia_de_la_pantorrilla,segundamedicion_cintura,tension_arterial,sueno_horas,masa_corporal,actividad_total,riesgo_hipertension
0,2022_01001004,2,41,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,0.0,107,4,32.889389,120,1
1,2022_01001009,2,65,14.1,9,4.4,3.8,73,130.0,252,...,96.75,152.2,44.5,41.1,113.7,104,2,1.000000,240,0
2,2022_01001012,2,68,14.2,22,4.8,4.0,34,86.0,139,...,68.70,144.8,42.3,37.8,103.7,105,1,1.000000,480,0
3,2022_01001013,1,35,15.7,11,6.5,4.1,49,107.0,203,...,64.70,154.0,48.5,33.5,0.0,117,5,26.265339,275,1
4,2022_01001015,2,65,12.7,7,4.2,4.2,41,76.0,145,...,97.15,161.3,49.6,42.0,118.9,123,2,1.000000,255,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4358,2022_32056019,2,62,14.2,22,4.8,4.0,34,86.0,139,...,64.25,160.5,51.1,34.5,77.8,125,4,1.000000,280,0
4359,2022_32056024,1,39,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,0.0,130,4,19.193721,780,0
4360,2022_32056026,2,69,15.9,11,2.9,1.9,21,44.0,74,...,71.20,148.6,47.2,38.0,0.0,147,4,1.000000,300,0
4361,2022_32056029,1,67,17.6,14,5.5,4.0,44,96.0,171,...,68.20,167.7,51.5,36.5,96.4,108,2,1.000000,240,0
4362,2022_32056030,2,56,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,0.0,100,4,25.600777,300,0

In [4]:
data.columns

Index(['FOLIO_I', 'sexo', 'edad', 'concentracion_hemoglobina',
       'temperatura_ambiente', 'valor_acido_urico', 'valor_albumina',
       'valor_colesterol_hdl', 'valor_colesterol_ldl',
       'valor_colesterol_total', 'valor_creatina', 'resultado_glucosa',
       'valor_insulina', 'valor_trigliceridos', 'resultado_glucosa_promedio',
       'valor_hemoglobina_glucosilada', 'valor_ferritina', 'valor_folato',
       'valor_homocisteina', 'valor_proteinac_reactiva', 'valor_transferrina',
       'valor_vitamina_bdoce', 'valor_vitamina_d', 'peso', 'estatura',
       'medida_cintura', 'segundamedicion_peso', 'segundamedicion_estatura',
       'distancia_rodilla_talon', 'circunferencia_de_la_pantorrilla',
       'segundamedicion_cintura', 'tension_arterial', 'sueno_horas',
       'masa_corporal', 'actividad_total', 'riesgo_hipertension'],
      dtype='object')

In [5]:
X=data.drop('riesgo_hipertension',axis=1)

In [6]:
y=data['riesgo_hipertension']

In [7]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=20)

In [8]:
scaler = StandardScaler()

In [9]:
X_train_scaler=scaler.fit_transform(X_train)

In [10]:
X_test_scaler=scaler.transform(X_test)

In [11]:
model=Sequential()

WARNING:tensorflow:From c:\Users\Alumno\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [12]:
model.add(Dense(64,activation='relu',input_shape=(X_train_scaler.shape[1],)))

In [13]:
model.add(Dense(32,activation='relu'))
model.add(Dense(16,activation='relu'))

In [14]:
model.add(Dense(1,activation='sigmoid'))

In [15]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\Alumno\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [16]:
model.fit(X_train_scaler,y_train,epochs=10,batch_size=32,validation_split=0.1)

Epoch 1/10
WARNING:tensorflow:From c:\Users\Alumno\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Alumno\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

99/99 [==============================] - 4s 5ms/step - loss: 0.5406 - accuracy: 0.7275 - val_loss: 0.3829 - val_accuracy: 0.8281
Epoch 2/10
99/99 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8274 - val_loss: 0.3509 - val_accuracy: 0.8711
Epoch 3/10
99/99 [==============================] - 0s 2ms/step - loss: 0.3546 - accuracy: 0.8599 - val_loss: 0.3480 - val_accuracy: 0.8739
Epoch 4/10
99/99 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8688 - val_loss: 0.3222 - val_accuracy: 0.8739
Epoch 5/10
99/99 [==============================] - 0s 2ms/step - loss: 0.3065 - accuracy: 0.8774 - val_loss: 0.3138 - val_accuracy: 0.8854
Epoch 6/10
99/99 [==============================] - 0s 2ms/step - loss: 0.2857 - accuracy: 0.8825 - val_loss: 0.2967 - val_accuracy: 0.8911
Epoch 7/10
99/99 [==============================] - 0s 2ms/step - loss: 0.2622 - accuracy: 0.8933 - val_loss: 0.2808 - val_accuracy: 0.9026
Epoch 8/10
99/99 [==============================] - 0s 2ms/step - loss: 0.2390 - accuracy: 0.9004 - val_loss: 0.2644 - val_accuracy: 0.9054
Epoch 9/10
99/99 [==============================] - 0s 2ms/step - loss: 0.2174 - accuracy: 0.9109 - val_loss: 0.2502 - val_accuracy: 0.9198
Epoch 10/10
99/99 [==============================] - 0s 2ms/step - loss: 0.1994 - accuracy: 0.9220 - val_loss: 0.2473 - val_accuracy: 0.9083